@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,html{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

li{
    list-style: none;
}
li:hover{
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.2);
}
a{
    text-decoration: none;
}
p{
    font-size: 18px;
    color:#B4B2C5 ;
}
h1{
    font-size: 45px;
    color: #130F49;
    font-weight: bold;
}
h3 {
    color: #B4B2C5;
}
.cta{
    width: 100px;
    padding: 10px 10px;
    background-color:#130F49;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
.cta:hover{
    background:white;
    border: 1px solid #130F49;
    color:#130F49;
}



/*  Navbar  */
.navbar{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .nav-list ul ,.social-icons ul{
    display: flex;
}

.nav-list ul li, .social-icons ul li{
    margin: 0px 40px;
    color:#55527C;
    font-size: 20px;
}
.social-icons ul li:hover{
    transform: scale(1.4);
}
.logo{
    width: 70px;
}


/* --Header--*/ 
.container{
    width: 80%;
    margin: 60px auto;
}
.row{
    display: flex;
    justify-content: center;
}
.col{
    display: flex;
    justify-content: center;
}
.header{
    margin-top: 20px;
}

.header .col-1{
    width: 100%;
    flex-direction: column;
    padding:30px ;
    
}
.header .col-2{
    width: 100%;
}
.header .col-2 img{
    max-width: 80%;
}
.highlight{
    color:#34A1CD ;
}

.header .col-1 h1 {
    margin-bottom: 50px;
}
.header .col-1 p{
    margin-bottom: 30px;
}
.circle{
    width: 500px;
    height: 500px;
    background: #F4F3FF;
    position: absolute;
    top: -40%;
    right: -10%;
    border-radius: 50%;
    z-index: -1;
}

/* --Skills Section--*/ 
.title {
    text-align: center;
    margin-bottom: 60px;
}
.grid-wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
}
.icon-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon-title img {
    margin-right: 20px;
}
.icon-title h2 {
    font-size: 20px;
    color: #1e1964;
}
.grid-box .highlight {
    color: #55527C;
    font-weight: bold;
}
.grid-box {
    padding: 30px;
}
.skills .grid-box:hover {
    box-shadow: 0px 0px 30px #0000002f;
    border-radius: 20px;
}
.grid-wrapper .grid-box .icon-title img{
    width: 60px;
    height: 60px;
}


/* Portfolio Section*/ 
.portfolio {
    margin-top: 150px;
    position: relative;
}
.portfolio .title {
    text-align: left;
}
.portfolio .title .ctn-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ctn-title .highlight {
    color: #EA4C89;
}
.portfolio .title .ctn-title h1 {
   text-align: center;
}
.portfolio .grid-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 20px;
}

.portfolio .grid-box{
    position: relative;
}
.hover {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 60%;
    height: 60%;
    background:#55527C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: whitesmoke;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    
}
.hover .highlight {
    color: #EA4C89;
}

.portfolio .grid-box:hover .hover {
    transform: scaleX(1);
}
.portfolio .grid-wrapper .grid-box img{
    width:300px;
    height: 300px;
    border-radius: 20px;
}

/* Testimonials */
.testimonials{
    margin-top: 120px;
    background: #FFF5F6;
    padding: 60px 0px;
}
.testimonials .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.testimonials .grid-box {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.062);
    position: relative;
}
.testimonials .grid-box img {
    margin-top: -30px;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
}
.testimonials .grid-box .fa-quote-left {
    font-size: 24px;
    color:#B4B2C5;
}
.testimonials .grid-box p {
    margin: 20px 0px;
}
.testimonials h4 {
    color: #55527C;
    font-weight: bold;
}
.testimonials .rating {
    color: #ADA8FF;
}
.testimonials .rating-1 {
    color: #EA4C89;
}
.testimonials .grid-box:hover img {
    transform: scale(1.2);
}

/*Services Section */
.services {
    margin-top: 120px;
    background: #FFF5F6;
    padding: 60px 0px;
}
.services .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.services .grid-box {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.062);
    position: relative;
}
.services .grid-box img {
    margin-top: -30px;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
}
.services .grid-box .fa-quote-left {
    font-size: 24px;
    color:#B4B2C5;
}
.services .grid-box p {
    margin: 20px 0px;
}
.services h4 {
    color: #55527C;
    font-weight: bold;
}
.services .rating {
    color: #ADA8FF;
}
.services .rating-1 {
    color: #EA4C89;
}
.services .grid-box:hover img {
    transform: scale(1.2);
}






/* Contact */

.contact .container {
    margin-top: 80px;
    text-align: center;
    background: #E9F9FF;
    padding: 60px;
    border-radius: 20px;
}
.contact .container h3 {
    margin: 40px 0px;
}
.contact .fa {
    margin-right: 30px;
    font-size: 30px;
    color:#34A1CD;
}
.contact .quick-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .quick-links ul {
    display: flex;
}
.contact .quick-links ul li {
    margin: 0px 20px;
    color: #55527C;
    font-weight: bold;
    cursor: pointer;
}
.copyright p{
    color: #55527C;
    font-weight: bold;
    text-align: center;
}

