@media only screen and (max-width: 700px) {
  h1 {
    font-size: 35px;
  }
  .dark-mode {
    background: black;
    color: whitesmoke;
  }
  .dark-mode .mobile-nav {
    background-color: black;
    color: whitesmoke;
  }
  /* Navbar */
  .toggle-btn i {
    display: block;
  }
  .brand img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
  }
  .navbar {
    background: #e9f9ff;
    height: 100vh;
    flex-direction: column;
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .nav-list ul {
    flex-direction: column;
  }
  .nav-list ul li {
    margin-top: 30px;
  }
  .social-icons ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    height: 100%;
    margin-top: 120px;
  }
  .header .row {
    flex-direction: column;
  }
  .header .col-1 {
    padding: 20px;
  }
  .header .col-2 img {
    max-width: 90%;
  }
  .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
  .grid-box {
    padding: 10px;
  }
  .skills {
    height: 100%;
  }
  .portfolio .title .ctn-title {
    flex-direction: column;
    text-align: left;
  }
  .portfolio .grid-wrapper .grid-box img {
    width: 70%;
  }
  .portfolio .grid-wrapper .grid-box .hover {
    width: 70%;
  }
  .contact .container {
    padding: 10px;
    padding-bottom: 20px;
  }
  .contact .container h1 {
    font-size: 20px;
  }
  .copyright p {
    font-size: 12px;
  }
  .container {
    width: 80%;
    margin: 60px 15px;
  }
  #scroll-up {
    display: none;
    position: fixed;
    margin-left: 85%;
    cursor: pointer;
    z-index: 99;
    color: #34a1cd;
    font-size: 3rem;
    margin-right: 2%;
    bottom: 0;
  }
}
